header {
  text-align: center;
  border: 1px solid orange;
  grid-column: 1 / span 2;
}

main {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 35% 65%;
}

nav {
  grid-column: 1 / span 1;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 200px; 
}
